
    
body{
        background: black;
        margin-right: 800px;
        font-family: 'Dancing Script', cursive;
       }
    
       img{
            width: 300px; height: 300px;
            margin: auto;
            display: block;
          }

          img:hover{
            border-radius:50%;
            -webkit-border-radius:50%;
            box-shadow: 0px 0px 15px 15px #ec731e;
            -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
    

.titulo{
          text-align:center;
          font-size:3.5em;
          color:blue;
          letter-spacing: -7px;
          font-weight:700;
          text-transform:uppercase;
          animation:blur .75s ease-out infinite;
          text-shadow:0px 0px 5px pink,
              0px 0px 7px white;
        }

        @keyframes blur{
          from{
            text-shadow:0px 0px 10px #fff,
            0px 0px 10px #fff, 
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 25px #fff,
            0px 0px 50px #fff,
            0px 0px 50px #fff,
            0px 0px 50px yellow,
            0px 0px 150px yellow,
            0px 10px 100px yellow,
            0px 10px 100px yellow,
            0px 10px 100px yellow,
            0px 10px 100px yellow,
            0px -10px 100px yellow,
            0px -10px 100px yellow;} 
        }
        

        @import url(https://fonts.googleapis.com/css?family=Varela+Round);

   h2{
    border: 10px solid black;
    color: red;
    text-align: center;
    
   }
   h3{
       color: yellow;
       text-align: center;
      }
   h4{
      color: orange;
       text-align: center;
      }
    p,u{
       
       color: white;
   }
  

   
   .container{
       text-align: left;
    }

a{
    display: block;
    width: 50px;
    border-radius: 10px;
    padding: 15px 30px;
    background-color: blue;
    color: white;
    text-decoration: none;
}
