
    
body{
     background: dodgerblue;
     margin-right: 800px;
     font-family: 'Dancing Script', cursive;
    }
img{
            width: 300px; height: 300px;
            margin: auto;
            display: block;
          }

          img:hover{
            border-radius:50%;
            -webkit-border-radius:50%;
            box-shadow: 0px 0px 15px 15px #ec731e;
            -webkit-box-shadow: 0px 0px 15px 15px #ec731e;
            transform: rotate(360deg);
            -webkit-transform: rotate(360deg);
        }
 
h2,h3,H4,p{
    text-align: center;
}
h1{
    border: 10px solid black;
    color: red;
   }
h2{
 border: 10px solid black;
 color: deeppink;
 
}
h3{
    color: yellow;
   }
h4{
    color: rgb(154, 236, 21);
   }

.container{
    text-align: left;
 }
